.header-heading {
    text-align: center;
    padding: 10px;
    background: linear-gradient(90deg, rgba(0, 108, 108, 0) 1.97%, #06B6D4 50.55%, rgba(0, 57, 57, 0) 97.29%);
}

.header-heading span {
    font-weight: 600;
    font-size: 25px;
    line-height: 45px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #fff;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-container .item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #06B6D4;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.items-box {
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 10px;
    border-radius: 16px;
}

.items-box img {
    border-radius: 4px;
}

.box-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.box-title .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #111827;
}

.box-title .badge {
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
}

.box-title .badge.english {
    background: #F3E8FF;
    color: #6B21A8;
}

.box-title .badge.mathematics {
    background: #DBEAFE;
    color: #1E40AF;
}

.box-title .badge.science {
    background: #DCFCE7;
    color: #166534;
}

.box-title .badge.urdu {
    background: #FFEDD5;
    color: #9A3412;
}

.box-title .badge.islamiat {
    background: #D5FFF8;
    color: #12959A;
}

.vertical-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 40px;
    width: 200px;
}

.mute-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
