body {
    background: linear-gradient(to right, #EFF6FF, #E0E7FF);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.error-container {
    text-align: center;
    padding: 40px;
    /* background: #fff; */
    border-radius: 16px;
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.05); */
    max-width: 550px;
    width: 100%;
}

.error-code {
    font-size: 100px;
    font-weight: bold;
    color: #0d6efd;
}

.error-message {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #343a40;
}

.error-description {
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 30px;
}

.btn-home {
    padding: 10px 24px;
    border-radius: 8px;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}
